.Header{
    height: 450px;
    position: relative;
}

.BannerOver{
    height: 100%;
    width: 100%;
    position: absolute;
}

.BannerImage{
    object-fit: cover;
}

.BannerOverlay{
    background-color: maroon;
    opacity: 0.5;
}

.BannerStreakOverlay{
    width: 50%;
}

.TitleText{
    font-size: 5.5vw;
    width: 900px;
    display: inline-block;
    color: white;
    font-family: 'Mukta', sans-serif;
    text-shadow: 0 0 10px black;
    line-height: 1.5em;
    text-align: center;
    width: 90%;
}

.ElementsContainer{
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: center;
}
.Logo{
    width: 50px;
    height: 50px;
    justify-self: flex-start;
    padding-left: 20px;
}